@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  text-align: center;
  background-color: gray;
  font-family: 'Open Sans', sans-serif;
}

canvas {
  background-color: lightgray;
  /* prevent browser from claiming pointermove event for native
     behavior (zooming & panning) after a few seconds */
  touch-action: none;
}

canvas.draw {
  cursor: url(images/paint.svg) 0 24, auto;
}

canvas.fill {
  cursor: url(images/color-fill.svg) 0 24, auto;
}

canvas.wait {
  cursor: wait;
}

#controls {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  row-gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

#controls button {
  cursor: pointer;
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 4px;
}

/* check if browser supports real hovering */
@media (hover: hover) {
  #controls button:hover {
    background-color: lightblue;
  }
}

#draw {
  background-image: url('images/paint.svg');
}

#fill {
  background-image: url('images/color-fill.svg');
}

#reset {
  background-image: url('images/trash.svg');
}

#tools > .active {
  background-color: lightskyblue;
}

#speedControls {
  font-size: 20px;
  align-items: center;
  display: flex;
}

#speedControls button:disabled {
  opacity: 0.3;
  cursor: default;
  background-color:white;
}

#decreaseSpeed {
  background-image: url('images/minus.svg');
  margin-left: 10px;
}

#increaseSpeed {
  background-image: url('images/plus.svg');
}

#speed {
  width: 3em;
}